<div class="row mx-3">
    <h1>Wish Edit
        <%= link_to "", wishes_path,class:"btn-link glyphicon glyphicon-repeat" %>
    </h1>
</div>
<div class="row mx-3">
<%= render 'layouts/error', error: @wish %>
    <div class="wish-add-form">
        <%= form_for(@wish,url: wish_path) do |form| %>
        <span class="wish_text">
            <%= form.text_field :wish_text, style:"height:30px; width:300px;" %>
        </span>
        <span class="submit">
            <%= form.submit('保存',class:"btn btn-secondary btn-sm") %>
        </span>
        <% end %>
    </div>
</div>