<h1>Wish List</h1>

<div class="add-form">
  <%= form_for(@wish,url: wishes_path) do |form| %>

  <div class="wish_text">
    <%= form.label :wish_text %>
    <%= form.text_field :wish_text %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

  <% end %>

</div>


<table class="wish_list">
  <tr>
    <th>やりたいこと</th>
    <th>分析</th>
    <th colspan="2"></th>
  </tr>

  <% @wishes.each do |wish| %>
    <tr>
      <td><%= wish.wish_text %></td>
      <% if wish.logictree.nil? %>
         <td><%= link_to "logical tree",  wish_logictrees_path %></td>
      <% else %>
        <td><%= link_to "logical tree", wish_path(wish) %></td>
      <% end %>
      <td><%= link_to "edit", edit_wish_path(wish) %></td>
      <td><%= link_to "delete", wish_path(wish), method: :delete, data: { confirm: '消去しますか？' } %></td>
    </tr>
  <% end %>
</table>