<h1>LogicTree</h1>
<%= form_for [@wish,@logictree] do |form| %>
<table class="table table-bordered">
    <tr>
        <td class="wish" rowspan="9">
            <strong><%= @wish.wish_text %></strong>
        </td>
        <td class="wish" rowspan="3">
            <%= form.label :logic1 %>
            <%= form.text_field :logic1 %>
        </td>
        <td class="logic11">
            <%= form.label :logic11 %>
            <%= form.text_field :logic11 %>
        </td>
    </tr>
    <tr>
        <td class="logic12">
            <%= form.label :logic12 %>
            <%= form.text_field :logic12 %>
        </td>
    </tr>
    <tr>
        <td class="logic13">
            <%= form.label :logic13 %>
            <%= form.text_field :logic13 %>
        </td>
    </tr>
    <tr>
        <td class="logic2" rowspan="3">
            <%= form.label :logic2 %>
            <%= form.text_field :logic2 %>
        </td>
        <td class="logic21">
            <%= form.label :logic21 %>
            <%= form.text_field :logic21 %>
        </td>
    </tr>
    <tr>
        <td class="logic22">
            <%= form.label :logic22 %>
            <%= form.text_field :logic22 %>
        </td>
    </tr>
    <tr>
        <td class="logic23">
            <%= form.label :logic23 %>
            <%= form.text_field :logic23 %>
        </td>
    </tr>
    <tr>
        <td class="logic3" rowspan="3">
            <%= form.label :logic3 %>
            <%= form.text_field :logic3 %>
        </td>
        <td class="logic31">
            <%= form.label :logic31 %>
            <%= form.text_field :logic31 %>
        </td>
    </tr>
    <tr>
        <td class="logic32">
            <%= form.label :logic32 %>
            <%= form.text_field :logic32 %>
        </td>
    </tr>
    <tr>
        <td class="logic33">
            <%= form.label :logic33 %>
            <%= form.text_field :logic33 %>
        </td>
    </tr>
</table>
<div class="submit">
    <%= form.submit %>
</div>
<% end %>