<div class="row mx-3">
    <h1>LogicTree
        <%= link_to "", wishes_path,class:"btn-link glyphicon glyphicon-repeat" %>
    </h1>
</div>
<%= form_for [@wish,@logictree],url:wish_logictrees_path(@wish), method: :PATCH do |form| %>
<div class="row mx-3 ">
    <table class="logictree-table table table-bordered">
        <tr>
            <th class="text-center">やりたいこと</th>
            <th class="text-center">ロジック1</th>
            <th class="text-center">ロジック2</th>
        </tr>
        <tr>
            <td class="wish align-middle" rowspan="9">
                <div class="wish-text">
                    <%= @wish.wish_text %>
                </div>
            </td>
            <td class="logic1" rowspan="3">
                <%= form.text_area :logic1 %>
            </td>
            <td class="logic11">
                <%= form.text_field :logic11 %>
            </td>
        </tr>
        <tr>
            <td class="logic11">
                <%= form.text_field :logic12 %>
            </td>
        </tr>
        <tr>
            <td class="logic11">
                <%= form.text_field :logic13 %>
            </td>
        </tr>
        <tr>
            <td class="logic2" rowspan="3">
                <%= form.text_area :logic2 %>
            </td>
            <td class="logic21">
                <%= form.text_field :logic21 %>
            </td>
        </tr>
        <tr>
            <td class="logic21">
                <%= form.text_field :logic22 %>
            </td>
        </tr>
        <tr>
            <td class="logic21">
                <%= form.text_field :logic23 %>
            </td>
        </tr>
        <tr>
            <td class="logic3" rowspan="3">
                <%= form.text_area :logic3 %>
            </td>
            <td class="logic31">
                <%= form.text_field :logic31 %>
            </td>
        </tr>
        <tr>
            <td class="logic31">
                <%= form.text_field :logic32 %>
            </td>
        </tr>
        <tr>
            <td class="logic31">
                <%= form.text_field :logic33 %>
            </td>
        </tr>
    </table>
</div>
<div class="row mx-3">
    <div class="submit">
        <%= form.submit('保存',class:"btn btn-secondary btn-sm") %>
    </div>
</div>
<% end %>