<div class="row mx-3">
    <h1 class="">Schedule
        <%= link_to "", events_path,class:"btn-link glyphicon glyphicon-plus-sign" %>
    </h1>
</div>
<div class="row m-3">
    <%= render "next_event", events: @events %>
</div>
<div class="row mx-3 event-form">
    <div class="col-7 p-0">
        <div id="calendar"></div>
    </div>
    <div class="col-5">
        <div class="title">
            <h3><label>
                    <%= @event.title %>
                </label></h3>
        </div>
        <div class="body">
            <strong>内容</strong>
            <p>
                <%= @event.body %>
            </p>
        </div>
        <div class="start-date">
            <strong>開始時間</strong>
            <p>
                <%= @event.start_date.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
        </div>
        <div class="end-date">
            <strong>終了時間</strong>
            <p>
                <%= @event.end_date.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
        </div>
        <%= link_to '編集', edit_event_path(@event),class:"btn-link glyphicon glyphicon-edit text-center" %>
    </div>
</div>