<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="list">
      <%= book.title %><br>
      <%= book.author %><br>
      <%= link_to (image_tag(book.medium_image_url)), book.item_url %>

      <%= form_tag(booklogs_path) do %>
        <%= hidden_field_tag :isbn, @item.isbn %>
        <%= submit_tag 'save' %>
      <% end %>

    </div>
  <% end %>
<% end %>