<%= form_tag(books_search_path, method: :get, class: 'form-inline') do %>
  <%= text_field_tag :title, @title, class: 'form-control', placeholder:'書籍タイトル', size: 40 %>
  <%= submit_tag '商品を検索', class: 'btn'%>
<% end %>
<% if @books %>
  <% @books.each do |book| %>
    <img src="<%= book.image_url %>" alt="本画像">
    <p><%= book.title %></p>
    <%= form_tag(booklogs_path) do %>
      <%= hidden_field_tag :isbn, book.isbn %>
      <%= submit_tag 'save' %>
    <% end %>
  <% end %>
<% end %>