<div class="row">
    <h1 class="about-title px-3 ml-5 mt-5">このサイトについて</h1>
    <div class="Text col-10 mx-auto px-5 mt-4">
        近年IT技術の進歩により,書籍の電子化やカレンダープリケーションを利用したスケジュール管理など日常での脱紙化が進んできています。<br>
        一方で,手帳を利用してスケジュールを管理する人や日記を書き留める人もまだまだ沢山います。<br>
        色々な種類のリフィルの中から好きな物を選んで自分だけのオリジナル手帳を作る楽しさや,必要なものを選択して使いやすくカスタマイズ<br>できるのはシステム手帳ならではの良いところだと思います。<br>
        自分の好きな<span class="Text-Span JS_ScrollAnimationItem">リフィルを選ぶ機能</span>はのこしつつ,WEB上ならではのPCやスマホなどの<span class="Text-Span JS_ScrollAnimationItem">複数のデバイスからのアクセス</span>など<br>両方のいいとこ取りができるシステム手帳ができないかとこのアプリを作製しました。
    </div>
</div>
<div class="row">
    <h1 class="about-title px-3 ml-5 mt-5">このサイトの使い方</h1>
</div>
<div class="slick_image">
    <div class="row bg-light">
        <div class="col-8 mx-auto px-5 my-5">
            <h3>-スケジュール-</h3>
            <%= image_tag 'schedule.png',width: "100%", height: "100%", class:"mx-auto my-5 py-0"  %>
        </div>
        <div class="col-6 mx-auto px-5 mb-5">
            <p>
                スケジュールを管理することで仕事の無駄がなくなり、効率的に仕事を進められます。 <br>細かく時間を把握することで、仕事を効率化し、充実したプライベートの時間を確保するためにも役立ちます。
                計画的に物事を進めていきましょう。
            </p>
        </div>
    </div>
    <div class="row on-time bg-light">
        <div class="col-8 mx-auto px-5 my-5">
            <h3>-ToDoリスト-</h3>
            <%= image_tag 'todo.png', width: "100%", height: "100%", class:"mx-auto my-5 py-0" %>
        </div>
        <div class="col-5 mx-auto mb-5">
            <p>
                やらなければいけないことをメモしておきましょう。<br>
                優先順位をつけて,ドラッグ＆ドロップで順番を入れ替えることもできます。
            </p>
        </div>
    </div>
    <div class="row on-time bg-light">
        <div class="col-8 mx-auto px-5 my-5">
            <h3>-日記-</h3>
            <%= image_tag 'log.png', width: "100%", height: "100%",class:"mx-auto my-5 py-0"  %>
        </div>
        <div class="col-5 mx-auto px-5 mb-5">
            <p>
                新しい発見・学び,感情や思いを記して1日の振り返りをしましょう。<br>
                自分の考え方や行動パターンなど新たな気づきを得ることができるかもしれません。<br>
                画像も貼り付けることができます。
            </p>
        </div>
    </div>
    <div class="row on-time bg-light">
        <div class="col-8 mx-auto px-5 my-5">
            <h3>-読書日記-</h3>
            <%= image_tag 'booklog.png', width: "100%", height: "100%", class:"mx-auto my-5 py-0"  %>
        </div>
        <div class="col-4 mx-auto px-5 mb-5">
            <p>
                読んだ本の感想を記録していきましょう。<br>
                検索して保存したい本を選択して感想を書き留めましょう。<br>
                読んだ本のリストにもなります。
            </p>
        </div>
    </div>
    <div class="row on-time bg-light">
        <div class="col-8 mx-auto px-5 my-5">
            <h3>-やりたいことリスト-</h3>
            <%= image_tag 'wish.png', width: "100%", height: "100%", class:"mx-auto my-5 py-0"  %>
        </div>
        <div class="col-4 mx-auto px-5 mb-5">
            <p>
                夢や目標を掲げて人生を充実したものにしましょう！<br>
                ロジックツリーを利用して目標達成に向けて進みましょう。
            </p>
        </div>
    </div>
    <div class="row on-time bg-light">
        <div class="col-8 mx-auto px-5 my-5">
            <h3>-設定方法-</h3>
            <%= image_tag 'setting.png', width: "100%", height: "100%", class:"mx-auto my-5 py-0"  %>
        </div>
        <div class="col-5 mx-auto px-5 mb-5">
            <p>
                Settingにて情報の変更・消去,機能の表示非表示ができます。<br>
                情報を変更したら現在のパスワードを入力して変更するをクリックしてください。
            </p>
        </div>
    </div>
</div>
<script>
$(function() {
    $('.slick_image').slick({
        dots: true,
    });
});
</script>
<script>
$(window).on('scroll', function() {

    $(".JS_ScrollAnimationItem").each(function() {
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight) {
            $(this).addClass('isActive');
        }
    });

});
</script>