<div class="row mx-3">
    <h1>ToDo List</h1>
</div>
<div class="row mx-3">
    <div class="todo-add-form">
        <%= form_for(@todo,url: todos_path) do |form| %>
        <span class="todo-text">
            <%= form.text_field :todo_text, style:"height:30px; width:200px;" %>
        </span>
        <span class="submit">
            <%= form.submit('追加',class: "btn btn-secondary btn-sm") %>
        </span>
        <% end %>
    </div>
    <table class="todo_list table table-striped mt-3">
        <thead>
            <tr>
                <th class="head-text text-center">Check</th>
                <th class="head-text text-center">Task</th>
                <th class="head-text text-center">編集</th>
                <th class="head-text text-center">消去</th>
            </tr>
        </thead>
        <tbody>
            <% @todos.each do |todo| %>
                <tr>
                    <td class="text-center check-icon">
                        <% if todo.status == "done" %>
                        <%= link_to "", check_path(todo), method: :patch, class:"glyphicon glyphicon-ok-circle text-danger" %>
                        <% else %>
                        <%= link_to "", check_path(todo), method: :patch, class:"glyphicon glyphicon-ok-circle text-secondary" %>
                        <% end %>
                    </td>
                    <td class="link-icon">
                        <%= todo.todo_text %>
                    </td>
                    <td class="link-icon text-center">
                        <%= link_to "", edit_todo_path(todo),class:"glyphicon glyphicon-edit" %>
                    </td>
                    <td class="link-icon text-center">
                        <%= link_to "", todo_path(todo),class:"glyphicon glyphicon-trash",  method: :delete, data: { confirm: '消去しますか？' } %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>