<h1>読書日記</h1>

<%= form_for(@booklog) do |f| %>
<div class="row">
    <div class="col-5">
        <img class="book-img img-thumbnail" src="<%= @booklog.book_img_url %>" alt="本画像" , width="200" height="300">
    </div>
    <div class="col-7">
        <div class="book_title">
            タイトル：<%= @booklog.book_title %>
        </div>
        <div class="book_author">
            著者：<%= @booklog.book_author %>
        </div>
        <div class="content">
            <%= f.text_area :book_impression %>
        </div>
        <div>
            <%= f.submit "保存"%>
        </div>
    </div>
</div>
<% end %>