<div class="row">
<h1>BookLog!</h1>
</div>

<%= form_for(@booklog) do |f| %>
<div class="row booklog">
    <div class="col-4 text-center">
        <img class="book-img img-thumbnail" src="<%= @booklog.book_img_url %>" alt="本画像" , width="200" height="300">
    </div>
    <div class="col-7">
        <h3 class="book_title glyphicon glyphicon-book">
            <%= @booklog.book_title %>
        </h3><br>
        <h3 class="book_author glyphicon glyphicon-pencil">
          <%= @booklog.book_author %>
        </h3><br>
        <p class="content mt-4">
          <h3>-感想-</h3>
          <%= f.text_area :book_impression %>
        </p>
        <div class="row">
          <p class="col-2 offset-6 button"><%= submit_tag '保存',class:"btn btn-dark" %></p>
        </div>
    </div>
</div>
<% end %>