<div class="row book-header mx-3">
    <h1>BookLog
        <%= link_to "", books_path,class:"btn-link glyphicon glyphicon-plus-sign" %>
    </h1>
</div>
<div class="row book-body text-justify mx-auto mt-2">
    <% @booklogs.each do |f| %>
    <div class="col-md-4 col-lg-3 book-index text-center">
        <img class="book-img img-thumbnail" src="<%= f.book_img_url %>" alt="本画像" , width="200" height="300"><br>
        <p class="glyphicon glyphicon-book mt-1">
            <%= f.book_title %>
        </p><br>
        <p class="glyphicon glyphicon-pencil">
            <%= f.book_author %>
        </p><br>
        <div class="book-link">
            <p>
                <%= link_to "感想", booklog_path(f),class:"glyphicon glyphicon-search btn-link" %> |
                <%= link_to "消去", booklog_path(f),class:"glyphicon glyphicon-trash btn-link", method: :delete, data: { confirm: '消去しますか？' } %>
            </p>
        </div>
    </div>
    <% end %>
</div>