<div class="row">
    <div class="col-12">
      <h1>本を探す</h1>
        <%= form_tag(books_path, method: :get) do %>
        <%= text_field_tag :title, @title, placeholder:'書籍タイトル', size: 40 %>
        <%= submit_tag '本を検索'%>
        <% end %>
        <p>※記録する本を検索して選択してください。</p>
    </div><br>
</div>
<div class="row booklog">
    <% if @books %>
    <% @books.each do |book| %>
    <div class="col-4 mb-2">
        <img class="book-img img-thumbnail" src="<%= book.image_url %>" alt="本画像" , width="200" height="300">
        <p>
            <%= book.title %>
        </p>
        <p>
            <%= book.author %>
        </p>
        <%= form_tag(booklogs_path) do %>
        <%= hidden_field_tag :isbn, book.isbn %>
        <%= submit_tag 'save' %>
        <% end %>
    </div>
    <% end %>
    <% end %>
</div>