<div class="row mx-3">
    <h1>Diary
        <%= link_to "", new_log_path,class:"glyphicon glyphicon-repeat btn-link" %>
    </h1>
</div>
<div class="row mx-3">
    <div class="log-list col-lg-5 order-lg-2">
        <%= form_for @log do |form| %>
        <div class="time">
            <div>
                <%= form.label :start_time,"日付" %>
            </div>
            <div>
                <%= form.date_select :start_time, use_month_numbers:true, date_separator:" / " %>
            </div>
        </div>
        <div class="title">
            <div class="title">
                <%= form.label :title,"タイトル"%>
            </div>
            <div>
                <%= form.text_field :title %>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <%= form.label :content,"内容" %>
            </div>
            <div>
                <%= form.text_area :content %>
            </div>
        </div>
        <div class="image">
            <%= form.label :log_img, "画像" %>
        </div>
        <div>
            <%= form.attachment_field :log_img %>
        </div>
        <div class="submit">
            <%= form.submit("保存",class:"btn btn-secondary btn-sm mt-3")%>
        </div>
        <% end %>
    </div>
    <div class="calendar col-lg-7 order-lg-1 p-0">
        <%= month_calendar events: @logs do |date, logs| %>
        <%= date.day %>
        <% logs.each do |log| %>
        <div>
            <%= link_to log.title, log %>
        </div>
        <% end %>
        <% end %>
    </div>
</div>