<div class="row mx-3">
    <h1>Diary
        <%= link_to "", new_log_path,class:"btn-link glyphicon glyphicon-plus-sign" %>
    </h1>
</div>
<div class="row mx-3">
    <div class="col-md-12 col-lg-5 log-list order-lg-2 pr-0">
        <table class="table table-striped">
            <h4 class="mb-0">-最近の日記-</h4>
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>日付</th>
                    <th>編集</th>
                    <th>消去</th>
                </tr>
            </thead>
            <tbody>
                <% @logs.first(5).each do |log| %>
                <tr>
                    <td class="text-left">
                        <%= link_to log.title, log ,class:"btn-link"%>
                    </td>
                    <td>
                        <%= log.start_time.strftime("%Y-%m-%d") %>
                    </td>
                    <td>
                        <%= link_to '', edit_log_path(log.id),class:"glyphicon glyphicon-edit btn-link" %>
                    </td>
                    <td>
                        <%= link_to '',log_path(log.id),class:"glyphicon glyphicon-trash btn-link", method: :delete, data: { confirm: '消去しますか？' } %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table><br>
    </div>
    <div class="calendar col-lg-7 order-lg-1 p-0">
        <%= month_calendar events: @logs do |date, logs| %>
        <%= date.day %>
        <% logs.each do |log| %>
        <div>
            <%= link_to log.title, log, class:"btn-link" %>
        </div>
        <% end %>
        <% end %>
    </div>
</div>