
<div class="row">
<p id="notice"><%= notice %></p>
<h1>Log</h1>
</div>

<div class="row">
<div class="calendar col-6">
<%= month_calendar events: @logs do |date, logs| %>
  <%= date.day %>

  <% logs.each do |log| %>
    <div>
      <%= link_to log.title, log %>
    </div>
  <% end %>
<% end %>
</div>

<div class="col-6">
<strong>-日記を書く-</strong>
<%= form_for @log do |form| %>

  <div class="title">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

    <div class="time">
    <%= form.label :start_time, "日付" %>
    <%= form.date_select :start_time, use_month_numbers:true, date_separator:" / " %>
  </div>

  <div class="content">
    <%= form.label :content, "内容" %>
    <%= form.text_area :content %>
  </div>

  <div class="image">
    <%= form.label :log_img, "画像" %>
    <%= form.attachment_field :log_img %>

  <div class="submit">
    <%= form.submit "保存" %>
  </div>

<% end %>
</div>
</div>