<div class="col-12 p-0">
<nav class="navbar navbar-expand-md navbar-dark" style="background-color:#000;">
    <%= link_to 'LifeConcier', root_path, class:"navbar-brand" %>

    <div class="collapse navbar-collapse" id="navbar_a">

      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="user-name"><%= current_user.name %>'s手帳</li>
        <li class="nav-item">
          <%= link_to "マイページ", events_path,  class: "btn text-light", style: "background-color: #000;" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "btn text-light", style: "background-color: #000;" %>
        </li>
        <% else %>
        <li class="nav-item mr-4">
          <%= link_to "home", root_path,class: "btn btn-nav text-light", style: "background-color: #000;" %>
        </li>
        <li class="nav-item mr-4">
          <%= link_to "about", home_about_path,class: "btn btn-nav text-light", style: "background-color: #000;" %>
        </li>
        <li class="nav-item mr-4">
          <%= link_to "Sign_UP", new_user_registration_path,class: "btn btn-nav text-light", style: "background-color: #000;"%>
        </li>
        <li class="nav-item mr-3">
          <%= link_to "ログイン", new_user_session_path,class: "btn btn-nav text-light", style: "background-color: #000;"%>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>